In [2]:
import pandas as pd
from operator import add
from functools import reduce
coding={'subject':['python','java'],'amount':[1000,2000]}
df=pd.DataFrame(coding)
print(df)

  subject  amount
0  python    1000
1    java    2000

In [4]:
data={
    'eno':[101,102,103,104,105],
    'ename':['ganesha','yashodara','krishnappa','monappa','narayana'],
    'qualification':['be','btech','deplom','bse','mse'],
    'subject':['ec','ce','os','java','python']
      }
df=pd.DataFrame(data)
print(df)

   eno       ename qualification subject
0  101     ganesha            be      ec
1  102   yashodara         btech      ce
2  103  krishnappa        deplom      os
3  104     monappa           bse    java
4  105    narayana           mse  python