In [3]:
import pandas as pd

In [4]:
Data = {
    'FirstName' : ['Aryan','Rohan','Riya','Yash','Siddhant'],
    'LastName' : ['Singh','Agrawal','Shah','Bhatia','Khanna'],
    'Type' : ['Full-time Employee','Intern','Full-time Employee','Part-time Employee','Full-time Employee'],
    'Department' : ['Adminstration','Technical','Adminstration','Technical','Management'],
    'YoE' : [2,3,5,7,6],
    'Salary' : [20000,5000,10000,10000,20000]
    
}
employee_df = pd.DataFrame(Data)
print(df)

NameError: name 'df' is not defined

In [13]:
table = pd.pivot_table(employee_df,index = ['Type','Department'],values = 'Salary',aggfunc = 'mean')
table

                                  Salary
Type               Department
Full-time Employee Adminstration   15000
                   Management      20000
Intern             Technical        5000
Part-time Employee Technical       10000

In [15]:
pivot = pd.pivot_table(
data = employee_df,
index = 'Type',
values = 'Salary',
aggfunc = ['mean','sum']
)
print(pivot)

                            mean    sum
                          Salary Salary
Type
Full-time Employee  16666.666667  50000
Intern               5000.000000   5000
Part-time Employee  10000.000000  10000

In [1]:
employee_df.pivot_table(index = 'Type')

NameError: name 'employee_df' is not defined