In [6]:
import pandas as pd
arr={'day_number':[1,2,3,4,5,6,7,8,9,10],
    'steps_walked':[1423,1425,7287,6254,9308,2547,2659,2876,6254,1543]
    }
df=pd.DataFrame(arr)
df

   day_number  steps_walked
0           1          1423
1           2          1425
2           3          7287
3           4          6254
4           5          9308
5           6          2547
6           7          2659
7           8          2876
8           9          6254
9          10          1543

In [7]:
arr['steps-walked']=df['steps_walked']+2000
print(arr['steps_walked'])

[1423, 1425, 7287, 6254, 9308, 2547, 2659, 2876, 6254, 1543]

In [8]:
matched=df.loc[df['steps_walked']>9000]
print(matched)

   day_number  steps_walked
4           5          9308