In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('weather.csv')
df

         date     city  temperatue  humidity
0  05-07-2023  NewYork          70        68
1  06-07-2023  Beijing          67        70
2  07-07-2023   Mumbai          68        70

In [8]:
df = pd.pivot_table(df,index = ['city','temperatue'],values = 'humidity')
df

                    humidity
city    temperatue
Beijing 67                70
Mumbai  68                70
NewYork 70                68